---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import logo from "../../assets/logos/QuanttoLogoClaro.svg";
import { GoogleIcon } from "../../assets/icons/GoogleIcon";

changeLanguage("en");
---

<Layout title="Qantto - Login" dark>
  <span class="bg" />
  <a href="/" class="h-9 w-36 absolute top-8 left-0 right-0 mx-auto md:right-auto md:left-28">
    <img src={logo} alt="logo de qantto" />
  </a>

  <main class="z-50 container px-8 max-w-lg">
    <h1 class="text-4xl font-bold text-center">Login</h1>
    <form action="">
      <input
        placeholder="Email Address"
        required
        autocomplete="off"
        autocorrect="off"
        type="email"
        class="rounded-md w-full min-w-0 font-normal inline-flex appearance-none border px-3 bg-transparent py-2 mt-8 focus:outline-none focus:ring-2 focus:ring-customGreen focus:border-transparent"
      >

      <input
        placeholder="Password"
        required
        autocomplete="off"
        autocorrect="off"
        type="password"
        class="rounded-md w-full min-w-0 font-normal inline-flex appearance-none border px-3 bg-transparent py-2 mt-4 focus:outline-none focus:ring-2 focus:ring-customGreen focus:border-transparent"
      >

      <button
        type="submit"
        class="rounded-md w-full min-w-0 font-semibold inline-flex appearance-none border border-none text-white justify-center px-3 bg-customGreen hover:bg-customGreen/80 transition-colors duration-300 py-2 mt-4"
      >
        Login
      </button>

      <div class="flex items-center justify-center mt-4">
        <div class="border-t border-[#333] w-full" />
        <span class="text-gray-500 px-4">or</span>
        <div class="border-t border-[#333] w-full" />
      </div>

      <button
        type="submit"
        class="rounded-md w-full min-w-0 font-semibold inline-flex appearance-none border-none text-black justify-center px-3 bg-white py-2 mt-4"
      >
        <GoogleIcon />
        <span class="ml-4">Continue with Google</span> 
      </button>

    </form>
  </main>

  <footer
    class="max-w-lg mx-auto border-t border-[#333] text-center text-gray-500 text-sm px-8 py-4 z-50 absolute bottom-0 left-0 right-0"
  >
    <a
      href="/signup"
      class="text-blue-600 hover:text-blue-600"
    >
      Don't have an account? Sign Up
    </a>
  </footer>
</Layout>

<style>
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../assets/images/ondas.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow-x: hidden;
    animation: ondas 2s ease-in-out infinite alternate;
  }

  @keyframes ondas {
    0% {
      opacity: 0.5;
      background-position: bottom;
    }
    100% {
      background-position: top;
      opacity: 1;
    }
  }

</style>
