---
import Layout from "../layouts/Layout.astro"
import logo from '../assets/logos/QuanttoLogoClaro.svg'
---

<Layout title="Quantto - Demo" dark>
  <span class="bg" />
  <a href="/" class="h-9 w-36 absolute top-8 left-0 right-0 mx-auto md:right-auto md:left-28">
    <img src={logo} alt="logo de qantto" />
  </a>
  <main class="px-1 max-w-[1200px] mx-auto text-center z-10">
    <h1 class="text-2xl md:text-6xl font-black leading-7">¿Quieres ver cómo funciona nuestro <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">cotizador de servicios online?</span></h1>
    <h2 class="mt-2 md:mt-8">Usa estos datos para ingresar al panel de administración:</h2>

    <ul class="mt-2 text-left max-w-max mx-auto">
      <li class="my-2 text-center"><span class="font-bold block">Usuario:</span> demo@qantto.io</li>
      <li class="my-2 text-center"><span class="font-bold block">Contraseña:</span> uxPfozS5RvVJon</li>
    </ul>

    <nav class="mt-5 flex flex-col gap-2 w-max mx-auto">
      <a
        href="https://dashboard.qantto.io/admin"
        target="_blank"
        class="underline text-sky-500 hover:text-sky-600 transition-all relative group"
      >Ir al panel de administración 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute -right-5 top-1 w-4 h-4 transition-all opacity-0 group-hover:opacity-100"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
      </a>

      <a
        href="https://public.qantto.io/"
        target="_blank"
        class="underline text-sky-500 hover:text-sky-600 transition-all relative group w-max mx-auto"
      >Ir al cotizador
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute -right-5 top-1 w-4 h-4 transition-all opacity-0 group-hover:opacity-100"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
      </a>
    </nav>
  </main>

  <footer
    class="absolute bottom-4 text-center left-0 right-0"
  >
    {new Date().getFullYear()}
    <a
      href="/"
      class="hover:text-sky-400 transition-colors duration-200"
    >
      Qantto
    </a> All right reserved
  </footer>
</Layout>

<style>
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../assets/images/ondas.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow-x: hidden;
    animation: ondas 2s ease-in-out infinite alternate;
  }

  @keyframes ondas {
    0% {
      opacity: 0.5;
      background-position: bottom;
    }
    100% {
      background-position: top;
      opacity: 1;
    }
  }

</style>
