---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Partners from '../components/Partners.astro'
import AboutQuantto from '../components/AboutQantto.astro'
import HowWorkQuantto from '../components/HowWorkQuantto.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Qantto - Cotizador de servicios online">
  <Header />
  <div class="container">
    <Hero />
    <Partners />
    <AboutQuantto />
    <HowWorkQuantto />
  </div>
  <Footer />
</Layout>
