---
import Button from "./button.astro"
import bgDashboard from '../assets/img/hero.png'
import quoterImg from '../assets/img/quoter.png'
---
<div class="section" id="about">
  <h2 class="title">¿Qué es Qantto?</h2>
  <p>
    En Qantto entendemos que cotizar productos y servicios puede ser una tarea complicada y consumir muchos recursos tecnológicos y humanos. Por eso, hemos creado una herramienta tecnológica que te permite personalizar cada aspecto de la cotización y generar cientos de propuestas de manera automática y ágil, en tiempo real, 24/7. 

Nuestra aplicación está diseñada para ayudar empresas, negocios y personas a ahorrar tiempo y dinero en el proceso de cotización, eliminando la necesidad de tener un gran equipo de ventas y permitiendo enfocarte en hacer crecer tu negocio.
  </p>
  <div class="content-button">
    <Button text="Ir al demo" style="primary" url="https://abouthernan.github.io/public-quoter-landing/"  /> 
  </div>
  <div class="demo">
    <two-up>
      <img src={bgDashboard} alt=""/>
      <img src={quoterImg} alt=""/>
    </two-up>
  </div>
</div>

<style>
.section {
  margin-top: 2rem;
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 2rem;
}

.title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

.demo {
  max-height: 100vh;
  width: 100%;
  margin-top: 4rem;
}

.demo img {
  width: 100%;
  height: 30rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (min-width: 768px) {
  .section {
    margin-top: 8rem;
    padding: 10rem 8rem;
  }

  p {
    max-width: 65ch;
    margin: 0 auto 2.5rem;
  }

  .content-button {
    max-width: max-content;
    margin: 0 auto;
  }

  .demo img {
    height: 70rem;
  }

}
</style>

<script src="https://unpkg.com/two-up-element@1" />
