<section class="text-white container w-full mt-14 mx-auto relative">
  <div
    class="flex max-w-5xl flex-col bg-qBlack rounded-3xl justify-center items-center py-10 mx-auto my-8 shadow-2xl space-y-6 circuit overflow-hidden"
  >
    <p class="z-10">
      <span class="text-qGreen">Elimina</span> cuellas de botella.
    </p>

    <h2 class="z-10 text-3xl max-w-sm text-center balance font-semibold">
      Genera cotizaciones <span class="text-qGreen">100% automáticas</span>, en
      tiempo real, 24/7.
    </h2>

    <p class="z-10">
      <span class="text-qGreen">No Somos</span> un software de plantillas.
    </p>
    <span class="z-10 text-4xl">😉</span>
  </div>
  <span class="circuit-mask"></span>
</section>

<style>
  .circuit::before,
  .circuit-mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1024px;
    height: 100%;
    background-image: url("/images/circuit.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
  }

  .circuit-mask {
    -webkit-mask: url("/images/circuit.svg");
    mask: url("/images/circuit.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    display: grid;
    place-items: center;
  }

  .circuit-mask::before {
    content: "";
    position: absolute;
    border: 3px solid #6ef96e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: onda 8s 2s infinite;
  }

  @keyframes onda {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(8);
    }
    100% {
      transform: scale(8);
    }
  }
</style>
