---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section class="text-qBlack container w-full mt-28 mx-auto relative">
  <div
    class="flex max-w-5xl bg-qSky rounded-3xl justify-center items-center mx-auto my-8 shadow-2xl space-y-6 relative overflow-hidden"
  >
    <div class="max-w-md z-10">
      <img
        class="w-full h-full aspect-square object-contain"
        src="/images/robot.png"
        alt="robot image"
      />
    </div>
    <div class="max-w-lg z-10">
      <h2 class="text-3xl font-bold">
        {t("BANNER2.title")}
      </h2>
      <p class="mt-3">
        <Trans i18nKey="BANNER2.desc">
          Gracias a la inteligencia artificial de Qantto, <strong
            >tu empresa recibe un informe detallado y personalizado que analiza
            los datos recopilados. Este informe no solo destaca los resultados
            clave, sino que también identifica oportunidades y estrategias de
            mejora específicas</strong
          >. Al aprovechar la IA para tomar decisiones basadas en datos, tu
          empresa puede tomar medidas concretas para optimizar sus operaciones y
          aumentar la eficiencia. Esto se traduce en un camino claro hacia un
          crecimiento y éxito continuo.
        </Trans>
      </p>
    </div>
  </div>
</section>
