<section class="text-qBlack container w-full mt-28 mx-auto relative">
  <div
    class="flex max-w-5xl bg-qSky rounded-3xl justify-center items-center py-10 mx-auto my-8 shadow-2xl space-y-6 relative overflow-hidden"
  >
    <div class="max-w-sm z-10">
      <img
        class="w-full h-full aspect-square object-contain"
        src="/images/robot.png"
        alt="robot image"
      />
    </div>
    <div class="max-w-xl z-10">
      <h2 class="text-3xl font-bold">Crece Inteligente con IA</h2>
      <p>
        Gracias a la inteligencia artificial de Qantto, <strong
          >tu empresa recibe un informe detallado y personalizado que analiza
          los datos recopilados. Este informe no solo destaca los resultados
          clave, sino que también identifica oportunidades y estrategias de
          mejora específicas</strong
        >. Al aprovechar la IA para tomar decisiones basadas en datos, tu
        empresa puede tomar medidas concretas para optimizar sus operaciones y
        aumentar la eficiencia. Esto se traduce en un camino claro hacia un
        crecimiento y éxito continuo.
      </p>
    </div>
  </div>
</section>
