---
export interface Props {
  text: string;
  style: 'primary' | 'secondary';
  url: string;
}

const { text, style, url } = Astro.props as Props
const className = style === 'primary' ? 'button--primary' : 'button--outline'
---

<a href={url} class={`button ${className}`}>
  {text}
</a>

<style is:global>
.button {
  padding: 2rem 3.2rem;
  border-radius: 5rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  min-width: 18.7rem;
}

.button.button--primary {
  background-color: var(--green);
  color: var(--dark-blue);
}

.button.button--outline {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--dark-blue);
}
</style>
