---
import logo from '../assets/img/logo-oscuro.svg'
---

<footer class="footer">
  <div class="logo">
    <img src={logo} alt="logo">
  </div>
  <hr />
  <nav class="footer__nav">
    <a class="footer__nav-link" href="#">Políticas de privacidad</a>
    <a class="footer__nav-link" href="#">Términos y condiciones</a>
    <a class="footer__nav-link" href="#">hello@quantto.io</a>
  </nav>
  <p class="pb-4">Copyright. All right reserved © Qantto {new Date().getFullYear()}.</p>
</footer>

<style>
.footer {
  overflow: hidden;
  margin-top: 8rem;
  background-color: var(--white);
  padding: 2rem 2rem 0;
  background-image: url('../assets/img/mountain-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.footer__nav-link {
  color: var(--black);
  font-size: 1.6rem;
  text-decoration: none;
}

p {
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 4rem 0;
    background-position: 50% 30%;
  }

  .logo {
    width: 15rem;
  }

  .footer__nav {
    align-items: center;
    margin-bottom: 5rem;
    gap: 2rem;
  }

  .footer__nav-link {
    font-size: 1.6rem;
    transition: color 0.5s ease;
  }

  .footer__nav-link:hover {
    color: var(--blue);
  }
}
</style>
