<header class="w-full bg-transparent z-40 backdrop-blur-xl shadow">
  <section class="flex items-center justify-between py-1 container mx-auto">
  <a href="/" class="h-20 block">
    <img
      class="h-full w-full object-contain aspect-video"
      src="/images/logo-qantto-white.svg"
      alt="logo"
      class="logo"
    />
  </a>
</section>
</header>
