---
import Nav from "./Nav.astro";
import ToggleButton from "./ToggleButton.astro";
---

<header class="w-full bg-transparent z-40 backdrop-blur-xl shadow">
  <section
    class="flex items-center justify-between py-1 container mx-auto px-2 lg:px-0"
  >
    <a href="/" class="h-20 block">
      <img
        class="h-full w-full object-contain aspect-video"
        src="/images/logo-qantto-white.svg"
        alt="logo"
        class="logo"
      />
    </a>

    <Nav />

    <ToggleButton />
  </section>
</header>
