---
import 'animate.css'
import Button from "./button.astro"
import { ListBenefits } from "./ListBenefits"
import heroImg from '../assets/img/hero.png'
---

<main class="main">
  <h1 class="title animate__animated animate__fadeIn">¿Cuanto cuesta tu<br/><span class="tagline"></span>?</h1>
  <p class="description animate__animated animate__fadeIn"><b>Qantto</b>, la herramienta que te permite ahorrar tiempo y dinero de una manera ágil. Permite a tus potenciales clientes obtener cotizaciones de tus productos o servicios en minutos. </p>
  <h2 class="ahorra animate__animated animate__fadeIn">¡Ahorra tiempo cotizando!</h2>
  <div class="buttons demo-btn animate__animated animate__fadeIn">
    <Button text="Ir al demo" style="primary" url="/demo" />
  </div>
  <ListBenefits client:load/>
  <div class="content__pictures">
    <img class="movil-img animate__animated animate__fadeIn" src="https://max-themes.net/demos/starto/starto/upload/Group-e1586420201332.png" alt="" />
    <img class="dashboard-img animate__animated animate__slideInRight" src={heroImg} alt="puede ser una imagen ilustrativa del dashboard de quantto" />
  </div>
</main>

<style>
.main {
  padding: 3rem 2rem 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  animation-delay: 1s;
}

.description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  animation-delay: 1.2s;
}

:global(.buttons) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.ahorra {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  margin-top: 2.5rem;
  animation-delay: 1.4s;
}

.demo-btn {
  animation-delay: 1.6s;
}

.content__pictures {
  margin: 5rem auto 0;
  width: 61%;
  max-width: 61%;
}

.movil-img {
  width: 100%;
  animation-delay: 0.8s;
}

.dashboard-img {
  display: none;
}

/*list of benefits */
:global(.list) {
  list-style: none;
  padding: 0 1rem 0;
  margin-top: 2.5rem;
  animation-delay: 1.6s;
}

:global(.list__item) {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 0.5rem 0;
}

:global(.list__item > svg) {
  position: relative;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--blue);
}

@media (min-width: 768px) {
  .title {
    font-size: 6rem;
    max-width: 50%;
  }

  .description {
    text-align: left;
    max-width: 40%;
  }

  .ahorra {
    text-align: left;
    max-width: 50%;
  }

  .content__pictures {
   position: absolute;
    top: 13rem;
    right: -3%;
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    perspective: 100rem;
    transform-style: preserve-3d;
    transform: translateZ(-10rem);
  }

  .movil-img {
    position: relative;
    max-width: 23rem;
    z-index: 1;
    top: 8rem;
  }

  .dashboard-img {
    position: absolute;
    display: block;
    left: 18%;
    width: 120%;
    max-width: 120%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 35px 60px 0px rgba(0, 0, 0, 0.1);
  }

  :global(.list) {
    max-width: 40%;
    margin-top: 0;
  }

  .buttons {
    display: none;
  }

  :global(.buttons-view-more) {
    position: absolute;
    animation-delay: 1.8s;
  }
}
</style>

<script>
import Typed from 'typed.js'

new Typed('.tagline', {
  strings: ['website', 'app', 'consultoría', 'producto'],
  typeSpeed: 90,
  loop: true,
  backSpeed: 70,
  startDelay: 1500,
})
</script>
