<main
  class="h-[calc(100vh-88px)] grid place-items-center place-content-center gap-20 max-w-7xl mx-auto z-0"
>
  <section class="text-white text-center space-y-5 -z-10">
    <p class="text-qGreen text-lg lg:text-2xl">
      Plataforma #1 de Quoting-Automation para equipos y empresas.
    </p>

    <div class="flex space-x-7 items-center justify-center">
      <span
        class="border text-qPurple border-qPurple rounded-md px-4 py-1 relative after:absolute after:w-5 after:h-[1px] after:bg-qPurple after:-right-5 after:top-[15px] lg:text-lg"
        >Problema</span
      >
      <h2 class="text-3xl lg:text-4xl">
        Deja de gastar tu tiempo gestionando leads no calificados.
      </h2>
    </div>

    <div class="flex space-x-7 items-center justify-center">
      <h2
        class="text-3xl lg:text-4xl bg-qPurple text-qBlack font-semibold px-4 py-2 rounded-md"
      >
        Genera cotizaciones 100% automáticas, en tiempo real, 24/7.
      </h2>

      <span
        class="border border-qGreen rounded-md px-4 py-1 relative after:absolute after:w-5 after:h-[1px] after:bg-qGreen text-qGreen after:-left-5 after:top-[15px]"
        >Solucion</span
      >
    </div>

    <div class="flex space-x-7 items-center justify-center">
      <span
        class="border text-qSky border-qSky rounded-md px-4 py-1 relative after:absolute after:w-5 after:h-[1px] after:bg-qSky after:-right-5 after:top-[15px]"
        >Beneficio</span
      >
      <h2 class="text-3xl lg:text-4xl">
        Tu proceso de ventas en piloto automático.
      </h2>
    </div>
  </section>

  <section class="text-white text-center text-base space-y-5 lg:text-lg">
    <a
      href="#"
      class="px-4 py-2 bg-qGreen hover:bg-qGreen/80 transition-colors duration-300 text-qBlack font-semibold rounded-md"
      >Inicia tu Free-Trial Ahora</a
    >
    <div>
      <p>Prueba <span>Qantto</span> sin costo por <strong>14 días.</strong></p>
      <p>No te pedimos tarjeta de crédito.</p>
    </div>
  </section>
</main>
