<main
  class="lg:min-h-[calc(100vh-88px)] grid place-items-center place-content-center gap-20 max-w-7xl mx-auto z-0 pt-10 lg:pt-0 px-2 lg:px-0"
>
  <section class="text-white text-center space-y-5 -z-10">
    <p class="text-qGreen text-lg lg:text-2xl">
      Plataforma #1 de Quoting-Automation para equipos y empresas.
    </p>

    <div
      class="flex flex-col lg:flex-row gap-5 lg:gap-0 lg:space-x-7 items-center justify-center"
    >
      <span
        class="border text-qPurple border-qPurple rounded-md px-4 py-1 relative after:absolute after:h-5 after:w-[1px] after:-bottom-5 after:right-11 lg:after:w-5 lg:after:h-[1px] after:bg-qPurple lg:after:-right-5 lg:after:top-[15px] lg:text-lg"
        >Problema</span
      >
      <h2 class="text-3xl lg:text-4xl">
        Deja de gastar tu tiempo gestionando leads no calificados.
      </h2>
    </div>

    <div
      class="flex flex-col lg:flex-row space-y-5 gap-6 lg:gap-0 lg:space-x-7 items-center justify-center"
    >
      <h2
        class="text-3xl order-2 lg:order-1 lg:text-4xl bg-qPurple text-qBlack font-semibold px-4 py-2 rounded-md"
      >
        Genera cotizaciones 100% automáticas, en tiempo real, 24/7.
      </h2>

      <span
        class="border order-1 lg:order-2 border-qGreen rounded-md px-4 py-1 relative after:absolute after:h-5 after:w-[1px] after:-bottom-5 after:right-11 lg:after:w-5 lg:after:h-[1px] after:bg-qGreen text-qGreen lg:after:-left-5 lg:after:top-[15px]"
        >Solucion</span
      >
    </div>

    <div
      class="flex flex-col lg:flex-row gap-5 lg:gap-0 lg:space-x-7 items-center justify-center"
    >
      <span
        class="border text-qSky border-qSky rounded-md px-4 py-1 relative after:absolute after:h-5 after:w-[1px] lg:after:w-5 after:-bottom-5 after:right-11 lg:after:h-[1px] after:bg-qSky lg:after:-right-5 lg:after:top-[15px]"
        >Beneficio</span
      >
      <h2 class="text-3xl lg:text-4xl">
        Tu proceso de ventas en piloto automático.
      </h2>
    </div>
  </section>

  <section class="text-white text-center text-base space-y-5 lg:text-lg">
    <a
      href="#"
      class="px-4 py-2 bg-qGreen hover:bg-qGreen/80 transition-colors duration-300 text-qBlack font-semibold rounded-md"
      >Inicia tu Free-Trial Ahora</a
    >
    <div>
      <p>
        Prueba <span class="text-qGreen">Qantto</span> sin costo por <strong
          >14 días.</strong
        >
      </p>
      <p>No te pedimos tarjeta de crédito.</p>
    </div>
  </section>
</main>
