<div class="section">
  <h2 class="title">¿Cómo funciona?</h2>
  <p>
    <b>Para ti:</b><br/>
    Imagina poder entregar una cotización personalizada y precisa en minutos, sin tener que invertir en personal de ventas y dedicar horas a la tareas de cotización. Con Qantto, este sueño es una realidad.
  </p>
  <p>
    <b>Para tus clientes: </b><br/>
    El proceso es fácil y rápido. Primero, seleccionan el servicio que necesitan. Luego, responden a las preguntas que configuran previamente desde la plataforma sobre el servicio que desean cotizar. El algoritmo procesará las respuestas y proporcionará una cotización personalizada en minutos, así de sencillo.
  </p>
</div>

<style>
.section {
  margin-top: 4rem;
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 2rem;
}

.title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

b {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .section {
    margin-top: 8rem;
    padding: 10rem 8rem;
  }

  p {
    max-width: 65ch;
    margin: 0 auto 2.5rem;
  }

}
</style>
