---
const integrations1 = [
  "/images/integrations/whatsapp.png",
  "/images/integrations/zapier.svg",
  "/images/integrations/amocrm.svg",
  "/images/integrations/hubspot.svg",
  "/images/integrations/signstation.png",
];

const integrations2 = [
  "/images/integrations/paypal.svg",
  "/images/integrations/pipedrive.svg",
  "/images/integrations/salesforce.svg",
  "/images/integrations/verisign.svg",
  "/images/integrations/zoho.svg",
];
---

<div
  class="container block mx-auto my-40 overflow-hidden pt-4 max-w-7xl relative"
  id="services"
>
  <h2 class="text-white text-center text-3xl font-bold">
    <span class="text-qGreen">Potencia</span> tu maquina de ventas
  </h2>
  <p class="text-white/80 w-full text-center mb-10 mt-3">
    Integra <span class="text-qGreen font-bold">Qantto</span> con tus sistemas
    CRM, CLM, ARP, sSign, DocuSign, Payments.
  </p>

  <div class="graphic">
    <div class="graphic-circles">
      <img
        src="/images/logo-qantto-white.svg"
        alt="logo"
        class="graphic-logo"
      />

      <img src="/images/" alt="" class="graphic-circle-1" />
    </div>
  </div>
</div>

<style>
  .graphic {
    position: relative;
    display: grid;
  }
</style>
