---
import { ToggleMenu } from './ToggleMenu'
---

<nav class="nav">
  <a href="#about" class="nav__link">¿Qué es?</a>
  <a href="#how-does-it-work" class="nav__link">¿Cómo funciona?</a>
  <a href="#" class="nav__link">Precio</a>
  <a href="https://abouthernan.github.io/public-quoter-landing/" class="nav__link" target="_blank">Ir al demo</a>
</nav>

<ToggleMenu client:load />

<style>
.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--white);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

:global(:has(.burger.open)) .nav {
  transform: translateY(0);
  opacity: 1;
}

.nav__link {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--dark-blue);
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--green);
}

:global(.burger) {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  z-index: 2;
}

:global(:has(.burger.open) .burger) {
  color: var(--dark-blue);
}

:global(.burger > svg) {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  :global(.burger) {
    display: none;
  }

  .nav {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    transform: translateY(0);
    background: transparent;
  }

  .nav__link {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
  }

  .nav__link:last-child {
    padding: 2rem 4rem;
    background: var(--green);
    font-weight: 600;
    color: var(--dark-blue);
  }

  .nav__link:last-child:hover {
    opacity: 0.8;
  }
}
</style>
