<span
  class="-z-10 fixed inset-0 max-w-lg m-auto h-[27rem] sm:h-[50vh] sm:max-w-full"
></span>

<style>
  span {
    background: linear-gradient(
      106.89deg,
      rgba(192, 132, 252, 0.11) 15.73%,
      rgba(14, 218, 233, 0.41) 15.74%,
      rgba(121, 249, 129, 0.26) 56.49%,
      rgba(139, 70, 229, 0.4) 115.91%
    );
    filter: blur(118px);
    animation: animate 15s linear infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.2;
    }
  }
</style>
