<div
  class="container max-w-[1220px]  mx-auto h-full px-5 md:pr-12 overflow-x-hidden mb-24"
>
  <div class="relative wrap h-full w-full grid place-content-center">
    <div
      class="border-2-2 hidden md:block absolute border-opacity-20 border-gray-700 border h-full left-2/4"
    >
    </div>

    <!-- right timeline -->
    <div class="mb-8 flex justify-between items-center w-full gap-5">
      <div class="hidden md:block w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-customGreen shadow-xl aspect-square w-8 h-8 rounded-full number transition-opacity duration-500 ease-in-out opacity-0"
      >
        <p class="mx-auto font-semibold text-lg text-gray-800">1</p>
      </div>
      <div
        class="order-1 rounded-lg shadow-xl border-customDarkBg3 border w-full md:w-5/12 px-6 py-4 item transition-all duration-500 ease-in-out opacity-0"
      >
        <h3 class="mb-3 font-bold text-white text-xl">
          Crea una cuenta y selecciona un plan
        </h3>
        <p
          class="text-sm leading-snug tracking-wide text-white text-opacity-100"
        >
          Siempre tendrás el plan gratuito disponible. No te pedimos tarjeta de
          crédito.
        </p>
      </div>
    </div>

    <!-- left timeline -->
    <div
      class="mb-8 flex justify-between md:flex-row-reverse items-center w-full gap-5"
    >
      <div class="hidden md:block order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center md:order-1 bg-customGreen shadow-xl aspect-square w-8 h-8 rounded-full number transition-opacity duration-500 ease-in-out opacity-0"
      >
        <p class="mx-auto text-gray-800 font-semibold text-lg">2</p>
      </div>
      <div
        class="md:order-1 border-customDarkBg3 border rounded-lg shadow-xl w-full md:w-5/12 px-6 py-4 item transition-all duration-500 ease-in-out  opacity-0"
      >
        <h3 class="mb-3 font-bold text-white text-xl">
          Personaliza la página de destino
        </h3>
        <p
          class="text-sm leading-snug tracking-wide text-white text-opacity-100"
        >
          Personaliza la página de destino a la que irán tus clientes a cotizar.
          Ej. qantto.io/miempresa. Nombre de tu empresa, una descripción y el
          logotipo.
        </p>
      </div>
    </div>

    <!-- right timeline -->
    <div class="mb-8 flex justify-between items-center w-full gap-5">
      <div class="hidden md:block order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-customGreen shadow-xl aspect-square w-8 h-8 rounded-full number transition-opacity duration-500 ease-in-out opacity-0"
      >
        <p class="mx-auto font-semibold text-lg text-gray-800">3</p>
      </div>
      <div
        class="order-1 border-customDarkBg3 border text-white rounded-lg shadow-xl w-full md:w-5/12 px-6 py-4 item transition-all duration-500 ease-in-out opacity-0"
      >
        <h3 class="mb-3 font-bold text-xl">
          Crea los servicios y subservicios que ofreces
        </h3>
        <p
          class="text-sm leading-snug tracking-wide text-white text-opacity-100"
        >
          Configuras los parámetros de precio para cada una de las opciones.
        </p>
      </div>
    </div>

    <!-- left timeline -->
    <div
      class="mb-8 flex justify-between flex-row-reverse items-center w-full gap-5"
    >
      <div class="hidden md:block order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-customGreen shadow-xl aspect-square w-8 h-8 rounded-full number transition-opacity duration-500 ease-in-out opacity-0"
      >
        <p class="mx-auto text-gray-800 font-semibold text-lg">4</p>
      </div>
      <div
        class="md:order-1 border-customDarkBg3 border text-white rounded-lg shadow-xl w-full md:w-5/12 px-6 py-4 item transition-all duration-500 ease-in-out transform opacity-0"
      >
        <h3 class="mb-3 font-bold text-white text-xl">
          Comparte el link que te generará la plataforma a tus clientes
        </h3>
        <p
          class="text-sm leading-snug tracking-wide text-white text-opacity-100"
        >
         Podrás compartirlo vía Whatsapp, Email, Redes o inclusive embeberlo dentro de tu página web. 
        </p>
      </div>
    </div>

        <!-- right timeline -->
    <div class="mb-8 flex justify-between items-center w-full gap-5">
      <div class="hidden md:block w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-customGreen shadow-xl aspect-square w-8 h-8 rounded-full number transition-opacity duration-500 ease-in-out opacity-0"
      >
        <p class="mx-auto font-semibold text-lg text-gray-800">5</p>
      </div>
      <div
        class="order-1 rounded-lg shadow-xl border-customDarkBg3 border w-full md:w-5/12 px-6 py-4 item transition-all duration-500 ease-in-out opacity-0"
      >
        <h3 class="mb-3 font-bold text-white text-xl">
         Listo, ahora tus clientes podrán crear cotizaciones de manera automática 
        </h3>
        <p
          class="text-sm leading-snug tracking-wide text-white text-opacity-100"
        >
          Y recibir un presupuesto en tiempo real, sin que tu o tu equipo de ventas tenga que ocupar horas valiosas de trabajo. En lugar de eso enfócate en tu clientes potenciales, en el cierre. 
        </p>
      </div>
    </div>
  </div>
</div>

<script lang="js">
document.addEventListener('DOMContentLoaded', () => {
  const items = document.querySelectorAll('.item')
  const numbers = document.querySelectorAll('.number')

  // add animation with intersection observer with tailwindcss when items center in viewport

  const observer = new IntersectionObserver(
    entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('opacity-100')
          
          observer.unobserve(entry.target) // Dejar de observar el elemento una vez agregada la clase
        }
      })
    },
    {
      root: null,
      rootMargin: '0px 0px -120px 0px',
      threshold: 0.5
    }
  )

  items.forEach(item => observer.observe(item))
  numbers.forEach(number => observer.observe(number))
})
</script>
