---
import '@fontsource/inter'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@fontsource/inter/900.css'
import Metatags from '../components/Metatags.astro'
import whatsapp from '/whatsapp.svg'

export interface Props {
  title: string
  dark?: boolean
}

const { title, dark } = Astro.props

import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Metatags />
    <HeadHrefLangs />
    <title>{title}</title>
  </head>
  <body
    class={dark
      ? 'bg-black text-white grid place-content-center min-h-screen mx-auto'
      : ''}
  >
    <slot />
    <a
      href="https://api.whatsapp.com/send?phone=573133846633&text=Hola, buen día. ¿Cómo estás?"
      class="whatsapp"
      target="_blank"
    >
      <img
        src={whatsapp}
        alt="puede ser una ilustracion del logo de whatsapp"
      />
    </a>
  </body>
</html>

<style is:global>
  html {
    font-family: Inter;
    background-color: #26272b;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

.whatsapp {
  position: fixed;
  bottom: 5rem;
  right: 20px;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  color: transparent;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatsapp img {
  width: 54px;
  height: 54px;
  object-fit: contain;
}
</style>
