---
import ShadowBg from "../components/ShadowBg.astro";
import i18next, { t } from "i18next";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { HeadHrefLangs } from "astro-i18next/components";
---

<!doctype html>
<html lang={i18next.language} class="overflow-x-hidden scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("site.title")}</title>
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
		/>
		<HeadHrefLangs />
	</head>
	<body class="bg-qBg font-inter overflow-x-hidden">
		<ShadowBg />
		<slot />
	</body>
</html>
