---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import Metatags from "../components/Metatags.astro";

export interface Props {
  title: string;
  dark?: boolean;
}

const { title, dark } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Dark themed website template built on AstroJS, designed for technological startup business."
    />
    <Metatags />
    <title>{title}</title>
  </head>
  <body class={dark ? 'bg-black text-white grid place-content-center min-h-screen mx-auto' : ''}>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
